@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HandelGothic";
  src: url("/fonts/HandelGo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UniteaSans";
  src: url("/fonts/UniteaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UniteaSans-semi-bold";
  src: url("/fonts/UniteaSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UniteaSans-bold";
  src: url("/fonts/UniteaSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UniteaSans-medium";
  src: url("/fonts/UniteaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
     background: #0E051C;     
   /* background: #3a363f;  */
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
}

/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0E051C, #4a3b6b);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #0E051C, #6d5b9a);
}

ul li {
  list-style-type: disc; /* punto normal */
  /* o */
  list-style-type: circle; /* círculo */
  /* o */
  list-style-type: square; /* cuadrado */
}

.scene-size {
  width: 100vw;
  height: 75vh;
}

/* Tablet */
@media (max-width: 1024px) {
  .scene-size {
    height: 80vh;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .scene-size {
    height: 60vh;
  }
}

.certificates-container {
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-height: 800px) {
  .certificates-container {
    top: calc(50% + 300px);
  }
}

@media (min-width: 1920px) {  /* 3xl breakpoint */
  p {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

html {
  scroll-behavior: smooth;
}